*{margin: 0, padding:0}
.form-container{
	width: 300px;
	height:  auto;
	padding:  20px 30px;
	background-color: #fff;
	border-radius:  10px;
	box-shadow: 0 0 10px 0 #000;
	margin:  auto;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 
ul.list{
list-style-type: none;
text-align: center;
}
ul.list li{
width: 250px;
margin-bottom: 10px;
}
input[type="text"]{
	width: 250px;
	text-align: center;
	padding: 8px 0px;
	border: none;
	background-color: #d3d3d3;
	border-radius: 5px;
}
ul.list li input[type="button"]{
	background-color: #4690fb;
	color: #fff;
	width: 100%;
	height: 5%;
	
}
input[type="number"]{
	width: 60px;
	height: 20px;
	text-align: center;
	padding: 8px 0px;
	border: none;
	background-color: #d3d3d3;
	border-radius: 5px;
}

select{
	width: 120px;
	height: 30px;
	text-align: center;
	padding: 8px 0px;
	border: none;
	background-color: #d3d3d3;
	border-radius: 5px;


}